.main-hud-area {
  width: 70vmin;
  height: 70vmin;
  max-width: 600px;
  max-height: 600px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  z-index: 0;
}
